<div class="encabezado2">
 
    <div class="botones1">
      <a class="botones" href="https://www.freecodecamp.org/">NEWS</a>
      <a class="botones" href="https://www.freecodecamp.org/">COMICS</a>
      <a class="botones" href="https://www.freecodecamp.org/">CHARACTERS</a>
      <a class="botones" href="https://www.freecodecamp.org/">MOVIES</a>
      <a class="botones" href="https://www.freecodecamp.org/">TV SHOWS</a>
      <a class="botones" href="https://www.freecodecamp.org/">GAMES</a>
      <a class="botones" href="https://www.freecodecamp.org/">VIDEOS</a>
      <a class="botones" href="https://www.freecodecamp.org/">MORE</a>
    </div>
    
    </div>
