



<div class="Info">

<h1>Wasp (2023) #3</h1>

<h2>Published</h2>

<span id="fecha">  March 22,2023</span> 






<h3>Writer</h3>
<span id="writer">  Al Ewing</span> 



<h4>Cover Artist</h4>
<span id="artista">  Tom Reilly</span> 



<h5>Penciler</h5>
<span id="penciler">  Kasia Nie</span> 

<span id="parrafo">WHO MADE THE WASP? Captured b an alliance of their oldest enemies,
    Janet and Nadia Van Dyne find themselves trapped in a past where a key
    part of their history - Henry Pym, the Ant-Man never existed at all. As
    strange new lives play pot around them, they must find their way back to the
    Wasp... or cease to exist entirely.</span> 

    <a class="botonimagen" href="https://www.freecodecamp.org/">SEE VARIANT COVERS</a>

</div>
